@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #9980ff; /* Color de fondo morado */
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    overflow-y: auto;
}

.container {
    text-align: center;
    background: rgb(245, 245, 255); /* Fondo ligeramente morado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(150, 100, 255); /* Sombra morada */
    width: 100%;
    max-width: 1200px;
    min-height: 80vh;
}

h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(120deg, #4b2c99, #9933cc); /* Gradiente morado */
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9933cc, 0 0 20px #9933cc;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9933cc, 0 0 40px #9933cc;
    }
}

h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, #9933cc, #6600cc); /* Gradiente morado para la línea */
    border-radius: 1.5px;
}

p {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;
    padding: 0 10px;
}

.boton-container {
    display: flex;
    flex-direction: column; /* Disposición vertical */
    align-items: center; /* Centrado horizontal */
    gap: 15px;
    margin: 20px auto;
    max-width: 1200px;
}

.btn {
    background: linear-gradient(135deg, #9933cc, #9933cc); /* Botón morado */
    color: #ffffff;
    font-size: 18px; /* Ajuste de tamaño de fuente */
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(120, 80, 200, 0.4);
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 80%; /* Ancho proporcional */
    max-width: 400px; /* Ancho máximo */
    text-align: center;
}

.btn:hover {
    background: linear-gradient(135deg, #6600cc, #330099); /* Efecto hover con un tono más oscuro */
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(100, 60, 180, 0.6);
}

@media (max-width: 768px) {
    .boton-container {
        flex-direction: column; /* Para móviles, también vertical */
        width: 100%;
    }
    
    .btn {
        width: 90%; /* Ajuste para pantallas pequeñas */
    }
}